

body {
    padding: 20px;
}

.btn-examples .btn {
    margin-left: 10px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    user-select: none;
}

.layout-example .row>.col,
.layout-example .row>[class^="col-"] {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(39, 41, 43, 0.03);
    border: 1px solid rgba(39, 41, 43, 0.1);
}

.layout-example .row {
    margin-bottom: 20px;
}

.row-flex-cols .row {
    min-height: 10rem;
    background-color: rgba(255, 0, 0, .1);
}

.needs-validation .form-item {
    position: relative
}

.overlay-example {
    position: absolute;
    width: 150px;
    height: 200px;
    background-color: aqua;
}

.examples-wrapper {
    display: flex;

    .examples-list {
        display: flex;
        flex-direction: column;
        width: 150px;
        flex-shrink: 0;

        a {
            margin: 5px 0;
        }
    }

    .examples-details {
        flex-grow: 1;
    }
}