.bd-example {
    position: relative;
    margin: 1rem -15px;
    border: .2rem solid #f8f9fa;
    padding: 1.5rem;
}

.bd-example .input-group + .input-group {
    margin: 10px 0;
}

.doc-heading {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.btn-clipboard {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
    color: #818a91;
    background-color: transparent;
    border: 0;
    border-radius: .25rem;
}

.btn-clipboard:hover {
    color: #fff;
    background-color: #027de7;
}

.props-table {
    table-layout: fixed;
}

.props-table th:last-child {
    width: 50%;
}

.props-table .default-value {
    color: #e83e8c;
}

.btn-demo .btn,
.badge-demo .badge {
    margin: 3px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    user-select: none;
}

.bd-placeholder-img-lg {
    font-size: 3.5rem;
}