.btn-close {
    $size: 24px;

    box-sizing: content-box;
    width: $size;
    height: $size;
    line-height: 1;
    padding: 3px;
    border: 0;
    opacity: 0.5;
    background-color: transparent;

    &:hover {
        opacity: .65;
    }

    &:active {
        opacity: .8;
    }
}