@use "./mixins";

$variant_map: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light":$light,
    "dark": $dark
);

@each $name,
$color in $variant_map {
    .spinner-#{$name} {
        color: $color;
    }
}

.r-loading-wrapper {
    @include mixins.flex-all-center();
    flex-direction: column;
    position: relative;
    padding: 10px;
    background-color: rgba(255, 255, 255, .5);

    &.r-loading-fullscreen {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    .btn-close {
        $dis: 10px;
        position: absolute;
        top: $dis;
        right: $dis;
    }
}

.r-loading-nested {
    position: relative;

    .r-loading-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
}