@use "./mixins";

.alert {
    @include mixins.flex-align-center();
    padding: 10px;
    margin: 0;

    .alert-body {
        @include mixins.flex-align-center();
        flex-grow: 1;
        margin-right: 10px;
    }

    .r-icon {
        flex-shrink: 0;
        margin-right: 10px;
    }

    .btn-close {
        flex-shrink: 0;
        margin-left: auto;
    }
}

.r-message-wrapper {
    $transition: .2s linear;
    @include mixins.flex-align-center();
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 10px;
    width: 100%;
    pointer-events: none;
    z-index: 2000;

    .r-message-item {
        min-width: 200px;
        margin-top: 15px;
        transition: transform #{$transition},
        height #{$transition},
        opacity #{$transition};
        pointer-events: auto;

        &.show {
            transform: none;
            opacity: 1;
        }
    }
}