.r-notification {
    position: fixed;
    padding: 0 15px;
    overflow: hidden;
    z-index: 1000;
}

.r-notification-top-left {
    top: 0;
    left: 0;
}

.r-notification-top-right {
    top: 0;
    right: 0;
}

.r-notification-bottom-left {
    bottom: 0;
    left: 0;
}

.r-notification-bottom-right {
    bottom: 0;
    right: 0;
}

.r-notification-item {
    margin: 15px;
    transition: transform .3s cubic-bezier(.21, .66, .49, 1.32),
        opacity .3s, height .3s;

    .toast {
        background-color: #fff;
    }
}