.div {
    width: 300px;
    height: 300px;
    opacity: 1;
}

.fade {
    background-color: #0d6efd;
    transition: opacity 0.5s linear;
}

.fade:not(.show) {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.3s ease;
}

.slide-fade-exit-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-exit-active {
    transform: translateX(10px);
    opacity: 0;
}
